{
    "bold": "testdata/bold.nii.gz",
    "stimimage": "testdata/stim.nii.gz",
    "frameperiod": 1.537,
    "stimimageunits-dep": " -16 -11.381 0.405 0.387",
    "visual_angle_width": 16,
    "visual_angle_height": 11.381,
    "freesurfer": "testdata/freesurfer/output",
    "prefitOnly": true
}
